@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
.dark {
  --background-color: #181818; /* 다크 모드 배경색 */
}


.area {
  background: #363944;
}
.area2 {
  background: #383C47;
}
.areagray {
  background: #cecece;
}
.module_area {
  background: rgba(206, 206, 206, 0.70)
}
.border {
  border-left-width: 1px;
  border-right-width: 1px;
  border-color: rgb(230, 230, 230);
}
.skill {
  background: #cecece;
}
.skillname {
  color: #36436F;
}
.selectedskill {
  border: 2px solid red;
}
.footer {
  background: #eeeeee;
}

.weapon {
  padding: 0px -4px 0px -4px;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Pretendard-Regular';
}

.grade1 {
  background: linear-gradient(
    to bottom right, 
    #3d6c8c 0%,    
    #3d6c8c 20%,
    black 50%,   
    #3d6c8c 80%       
  );
}
.grade1_text {
  color: #3d6c8c;
}
.grade2 {
  background: linear-gradient(
    to bottom right, 
    #511e7a  0%,    
    #511e7a  20%,
    black 50%,   
    #511e7a  80%       
  );
}
.grade2_text {
  color: #864AB7;
}
.grade3 {
  background: linear-gradient(
    to bottom right, 
    #988b5e  0%,    
    #988b5e  20%,
    black 50%,   
    #988b5e  80%       
  );
}
.grade3_text {
  color: #988b5e;
}
.grade4 {
  background: linear-gradient(
    to bottom right, 
    #843e2f  0%,    
    #843e2f  20%,
    black 50%,   
    #843e2f  80%       
  );
}
.grade4_text {
  color: #843e2f;
}
.Malachite {
  background: url("/Malachite.png");
  background-repeat: none;
  background-size: 24px 24px;
}
.Almandine {
  background: url("/Almandine.png");
  background-repeat: none;
  background-size: 24px 24px;
}
.Cerulean {
  background: url("/Cerulean.png");
  background-repeat: none;
  background-size: 24px 24px;
}
.Rutile {
  background: url("/Rutile.png");
  background-repeat: none;
  background-size: 24px 24px;
}
.Xantic {
  background: url("/Xantic.png");
  background-repeat: none;
  background-size: 24px 24px;
}
.longtext {
  word-wrap: break-word;
  overflow-wrap: break-word; 
  word-break: break-all;
}

